body {
  margin: 0;
}
.container {
  background-image: linear-gradient(
    315deg,
    #0097b0,
    #0085ff,
    #007dff,
    #0072ff,
    #ee00cf,
    #ff00b5,
    #ff0017,
    #b16000
  );

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  animation: BGgradient 10s ease infinite;
}
@keyframes BGgradient {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 330%;
  }
}
