/* Este scroll-behavior hace que usar en el header los atajos no sea tan brusco */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header {
  padding: 18px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background: linear-gradient(45deg, #171717, #444444);
}

.mi-logo {
  width: 54px;
}

@media (min-width: 1000px) {
  .mi-logo {
    width: 95px;
    height: 109px;
  }
}
.nav-movil {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.nav-pc {
  display: none;
}
.nav-pc__a:hover {
  background: linear-gradient(360deg, #da0037, #444444);
  padding: 10px 20px;
  border: solid;
  border-style: outset;
  animation: nav-hover 5s ease infinite;
  border-radius: 40px;
}
@keyframes nav-hover {
  0% {
    color: aliceblue;
    border-color: aliceblue;
    border-style: inset;
  }
  50% {
    color: aqua;
    border-color: aqua;
    border-style: inset;
  }
  100% {
    color: aliceblue;
    border-color: aliceblue;
    border-style: inset;
  }
}
@media (min-width: 1000px) {
  .nav-movil {
    display: none;
  }
  .nav-pc {
    display: flex;
    flex-direction: row;
    width: 430px;
    justify-content: space-between;
    padding: 0 103px;
  }
  .nav-pc__a {
    color: white;
    font-size: 24px;
  }
}
.header__button {
  width: 36px;
  height: 6px;
}
/* Main */
.main {
  height: 530px;
  background: linear-gradient(45deg, #80ed99, #38a3a5);
  display: flex;
  justify-content: center;
}
.main__div-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1000px) {
  .main__div-principal {
    width: 920px;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    padding-top: 115px;
  }

  .main__div__img-uno {
    width: 320px;
    height: 150px;
  }
}

.main__div__img-dos {
  width: 435px;
  height: auto;
}
@media (max-width: 460px) {
  .main__div__img-dos {
    width: 350px;
    height: auto;
  }
}
.main__primer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-title {
  margin: 0;
  min-width: 300px;
}
@media (min-width: 1000px) {
  .main-title {
    padding-top: 80px;
  }
}

.main-paragraph {
  font-family: "Roboto", sans-serif;
  display: none;
}
@media (min-width: 1000px) {
  .main-paragraph {
    display: inline;
    animation: movimiento 10s ease infinite;
    color: rgb(3, 44, 9);
  }
}
@keyframes movimiento {
  0% {
    margin-top: 0;
    color: rgb(3, 44, 9);
  }

  25% {
    margin-top: -100px;
    font-size: 20px;
    color: white;
  }

  50% {
    margin-top: 0;
    font-size: 16px;
    color: rgb(3, 44, 9);
  }
  75% {
    margin-top: 100px;
    font-size: 20px;
    color: white;
  }
  100% {
    margin-top: 0;
    font-size: 16px;
    color: rgb(3, 44, 9);
  }
}

/* Seccion 1 */
.section-one {
  padding: 55px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #0f0e0e, #444444);
  color: white;
  gap: 40px;
}

@media (min-width: 1000px) {
  .section-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 90px;
    justify-items: left;
  }
  .section-one__primer-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 1;
  }
  .section-one__segundo-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: baseline;
  }
}

.subtitulo {
  font-size: 32px;
  min-width: 350px;
  font-family: "Open Sans", sans-serif;
}
.div__parrafo-left {
  min-width: 312px;
  width: 312px;
}
.okay-icon {
  height: 80px;
  width: 80px;
}
@media (min-width: 1000px) {
  .okay-icon {
    width: 211px;
    height: 211px;
    margin-top: 27px;
  }
}
/* Segunda seccion */
.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #80ed99, #38a3a5);
  padding: 66px 0px;
}

@media (min-width: 1000px) {
  .section-two {
    padding: 59px 0px 108px 0px;
  }
}

.section-two__title {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 1000px) {
  .section-two__title {
    padding: 0 0 75px 0;
    margin: 0;
    font-size: 48px;
  }
}

.services-conteiner__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 262px;
  text-align: center;
  justify-content: space-around;
}

@media (min-width: 1000px) {
  .services-container {
    display: flex;
    flex-direction: row;
    gap: 0 40px;
  }
}

.computer-icon {
  height: 138px;
  width: 138px;
}

/* Form */

.form {
  background: linear-gradient(180deg, #0f0e0e, #444444, #444444);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px;
  color: white;
}

@media (min-width: 1000px) {
  .form {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 0px 77px;
  }
}

.form-div__title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__title {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
}
@media (min-width: 1000px) {
  .form-div__title {
    display: flex;
    justify-content: right;
    height: 100%;
  }
}

.form__div {
  width: 335px;
  display: flex;
  flex-direction: column;
}
.height-input-and-button {
  height: 45px;
  margin-bottom: 27px;
}
input.height-input-and-button,
.form__textarea {
  font-size: 32px;
}
button.height-input-and-button {
  animation: nav-hover 5s ease infinite;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: white;
}
button.height-input-and-button:hover {
  animation: bg-change 5s ease infinite;
  cursor: pointer;
}
@keyframes bg-change {
  0% {
    background: linear-gradient(180deg, #444444, #444444, #0f0e0e);
    border: red inset;
  }
  50% {
    background: linear-gradient(180deg, #444444, #444444, #0f0e0e);
    border: pink inset;
  }
  100% {
    background: linear-gradient(180deg, #444444, #444444, #0f0e0e);
    border: red inset;
  }
}

@media (min-width: 1000px) {
  .form__div {
    width: 376px;
  }
}

.form__textarea {
  height: 115px;
  resize: none;
  padding: 5px 2px;
}
/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  .footer {
    display: grid;
    grid-template-columns: 0.78fr 1fr;
    align-items: center;
  }
}
.copyright-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  .copyright-logo {
    padding-bottom: 60px;
  }
}
.margin-off {
  margin: 0;
}
@media (min-width: 1000px) {
  .margin-off {
    font-size: 32px;
  }
}
.mi-logo-footer {
  width: 150px;
}
@media (min-width: 1000px) {
  .mi-logo-footer {
    width: 300px;
  }
}

.redes-sociales {
  display: flex;
  justify-content: center;
  padding: 40px 100px 89px 79px;
  gap: 0 50px;
  width: 300px;
}

.redes-sociales__div {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 1000px) {
  .redes-sociales__div {
    font-size: 32px;
  }
}
.redes-sociales__size {
  width: 40px;
  height: 40px;
}
@media (min-width: 1000px) {
  .redes-sociales__size {
    width: 80px;
    height: 80px;
  }
}
.footer {
  background: linear-gradient(360deg, #da0037, #444444);
}
